{{#extend "default"}} {{#content "header" mode="append"}}

<script type="text/javascript">
var data = {
    
};

data.selectProduct = function(sku, productName, productPrice,image,url) {

    var shop = [];
    var cart = {};
    cart.SKU = sku;
    cart.Name = productName;
    cart.Price = productPrice;
     cart.Image=image;
     cart.Quantity = 1;
     cart.Url=url;
     cart.SubTotal=cart.Price;
     
    if (Lockr.get('shopcart') == undefined) {
        
        Lockr.set('shopcart',shop);
         //Lockr.set('shopcart', cart);
        //cart.Quantity = 1;
       Lockr.sadd('shopcart', cart);
     }
    else{
        shop=Lockr.get('shopcart');
        if(shop.filter(x=>x.SKU===sku).length>0)
        {
          var data=shop.filter(x=>x.SKU===sku)[0];
          data.Quantity=data.Quantity+1;
          shop.filter(x=>x.SKU===sku)[0].Quantity=data.Quantity;
          data.SubTotal=data.Quantity*data.Price;
          shop.filter(x=>x.SKU===sku)[0].SubTotal=data.SubTotal;
          //shop.filter(x=>x.SKU===sku)[0].Quantity;
          Lockr.set('shopcart',shop);
          console.log(data.SubTotal);
        }
        else
        {   
           
            shop.push(cart);
            Lockr.set('shopcart',shop);
        }
        //shop.splice(shop.indexOf(shop.filter(x=>x.SKU===sku)[0]),1);
        
        
     }
      
 };

// thêm khả năng so sánh giá trị cho rivet sử dụng với |
rivets.formatters['=='] = function(value, arg) {
    return value == arg;
};

rivets.formatters.with = function(target) {

    var args = Array.prototype.slice.call(arguments);
    //console.log("args",JSON.stringify(args.splice(0,1)));
    args.splice(0, 1);


    return function(evt) {
        var cpy = args.slice();
        Array.prototype.push.apply(cpy, Array.prototype.slice.call(arguments));
        //console.log(target.apply(this, cpy));
        return target.apply(this, cpy)
    }
};

// chi co the set 1 property
rivets.formatters.set = function() {
    var args = Array.prototype.slice.call(arguments);
    args.splice(0, 1);
    return function(evt) {
        var rivetData = Array.prototype.splice.call(arguments, 1, 2)[0]; // remove event Object
        var cpy = args.slice();
        // TODO support dot in key to access sub property
        return rivetData[cpy[0]] = cpy[1];
    }
}
</script>
{{/content}} {{#content "main"}}
<!-- content section -->
<!-- content section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="shorting clearfix xs-margin-top-three">
                    <div class="col-md-8 col-sm-8 grid-nav">
                        <a href="http://www.themezaa.com/html/h-code/shop-with-sidebar-list.html"><i class="fa fa-bars"></i></a>
                        <a href="shop-full-width.html#"><i class="fa fa-th"></i></a>
                        <p class="text-uppercase letter-spacing-1">Showing 1–12 of 22 results</p>
                    </div>
                    <div class="col-md-3 col-sm-3 pull-right">
                        <div class="select-style input-round med-input shop-shorting-full no-border">
                            <select>
                                <option value="">Select sort by</option>
                                <option value="">By popularity</option>
                                <option value="">By rating</option>
                                <option value="">Price: low to high</option>
                                <option value="">Price: high to low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="product-listing margin-three">
                    <!-- shop item -->
                    {{#each collections.hcode-shop }}
                    <div class="col-md-4 col-sm-6" rv-on-click="selectProduct |with {{SKU}} '{{name}}' '{{price}}' '{{this.image.[0]}}' '/{{path}}'">
                        <div class="home-product text-center position-relative overflow-hidden margin-ten no-margin-top">
                            <a href="/{{path}}">
                              {{#each this.image}}
                              {{#if @first}}  
                                <img src="{{this}}" alt=""/>
                               {{/if}} 
                                 {{/each}}  
                            </a>
                            <span class="product-name text-uppercase"><a href="/{{path}}">{{this.name}}</a></span> {{#if this.old_price}}
                            <span class="price black-text"><del>{{this.old_price}}</del>{{this.price}}</span>
                            <span class="onsale onsale-style-2">Sale</span> {{else}}
                            <span class="price black-text">{{this.price}}</span> {{/if}}
                            <div class="quick-buy">
                                <div class="product-share">
                            
                                 
                                    <a href="http://localhost:8088/shop-cart.html" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart">Add Cart</i></a>
                                   
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end shop item -->
                    {{/each}}
                </div>
                <!-- pagination -->
                <div class="pagination margin-ten no-margin-bottom">
                    <a href="shop-full-width.html#"><img src="/images/arrow-pre-small.png" alt="" /></a>
                    <a href="shop-full-width.html#">1</a>
                    <a href="shop-full-width.html#">2</a>
                    <a href="shop-full-width.html#" class="active">3</a>
                    <a href="shop-full-width.html#">4</a>
                    <a href="shop-full-width.html#">5</a>
                    <a href="shop-full-width.html#"><img src="/images/arrow-next-small.png" alt="" /></a>
                </div>
                <!-- end pagination -->
            </div>
        </div>
    </div>
</section>
<!-- end content section -->
<script type="text/javascript">
rivets.bind(document.querySelector('body'), data);
</script>
{{/content}} {{/extend}}
