{{#extend "default"}} {{#content "main"}}
<!-- head section -->
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<section class="content-top-margin page-title page-title-small bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="black-text">{{title}}</h1>
                <!-- end page title -->
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                <!-- breadcrumb -->
                <ul>
                    <li><a href="shop-cart.html#">Home</a></li>
                    <li>Shopping Cart</li>
                </ul>
                <!-- end breadcrumb -->
            </div>
        </div>
    </div>
</section>
<!-- end head section -->
<!-- content section -->
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 shop-cart-table">
                <table class="table shop-cart text-center">
                    <thead>
                        <tr>
                            <th class="first"><b style="margin-left:50px">Image</b></th>
                            <th class="text-left text-uppercase font-weight-600 letter-spacing-2 text-small black-text">Product</th>
                            <th class="text-left text-uppercase font-weight-600 letter-spacing-2 text-small black-text">Price</th>
                            <th class="text-left text-uppercase font-weight-600 letter-spacing-2 text-small black-text">Quantity</th>
                            <th class="text-left text-uppercase font-weight-600 letter-spacing-2 text-small black-text">Sub Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody rv-show="data.check">
                        <tr rv-each-cart="data.post">
                            <td class="product-thumbnail text-left">
                                <a><img rv-src="cart.Image" alt="" style="width:200px;height:100px"></a>
                            </td>
                            <td class="text-left">
                                <a>{ cart.Name }</a>
                                <span class="text-uppercase display-block text-small margin-two">SKU:{ cart.SKU }</span>
                                <span class="text-small" rv-on-click="controller.editCart"><i class="fa fa-edit black-text"></i> Edit</span>
                            </td>
                            <td class="text-left">
                                { cart.Price }
                            </td>
                            <td>
                               
                                    <input type="number" rv-value="cart.Quantity" style="width:30%">
                               
                            </td>
                            <td class="product-subtotal text-left">{ cart.SubTotal }</td>
                            <td class="product-remove text-center">
                                <i class="fa fa-times" rv-on-click="controller.removeCart"></i>|
                                <i class="fa fa-refresh" aria-hidden="true" rv-on-click="controller.updateCart"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 cupon padding-five border-top border-bottom">
                <button class="highlight-button btn btn-very-small no-margin pull-left" rv-on-click="controller.emptyCart">Empty Cart</button>
                <button class="highlight-button btn btn-very-small no-margin pull-right continue-shopping"><a href="http://localhost:8088/hcode-shop/">Continue Shopping</a></button>
            </div>
            <div class="col-sm-12 padding-five no-padding-bottom">
                <div class="col-md-5 col-sm-5 calculate no-padding-left xs-margin-bottom-ten xs-no-padding">
                    <div class="panel panel-default border margin-five no-margin-top">
                        <div class="panel-heading no-padding" id="headingOne" role="tablist">
                            <a href="shop-cart.html#collapse-two-link1" data-parent="#collapse-two" data-toggle="collapse" class="collapsed">
                                <h4 class="panel-title no-border black-text font-weight-600 letter-spacing-2">Coupon Code <span class="pull-right"><i class="fa fa-plus"></i></span></h4>
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-two-link1" style="height: 0px;">
                            <div class="panel-body">
                                <form action="shop-cart.html#">
                                    <div class="form-wrap">
                                        <div class="form-group">
                                            <input type="text" placeholder="Enter Your Coupon code">
                                            <button class="highlight-button btn btn-very-small no-margin pull-left">Apply Code</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default border">
                        <div class="panel-heading no-padding" id="headingTwo" role="tablist">
                            <a href="shop-cart.html#collapse-two-link2" data-parent="#collapse-two" data-toggle="collapse" class="collapsed">
                                <h4 class="panel-title no-border black-text font-weight-600 letter-spacing-2">Calculate Shipping <span class="pull-right"><i class="fa fa-plus"></i></span></h4>
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-two-link2" style="height: 0px;">
                            <div class="panel-body">
                                <form action="shop-cart.html#">
                                    <div class="form-wrap">
                                        <div class="form-group">
                                            <input type="text" placeholder="Country">
                                            <input type="text" placeholder="State / County">
                                            <input type="text" placeholder="Postcode">
                                            <button class="highlight-button btn btn-very-small no-margin pull-left">Update Totals</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-7 col-md-offset-1 no-padding-right xs-no-padding">
                    <table class="table cart-total">
                        <tbody>
                            <tr>
                                <th class="padding-two text-right no-padding-right text-uppercase font-weight-600 letter-spacing-2 text-small xs-no-padding">Cart Subtotal</th>
                                <td class="padding-two text-uppercase text-right no-padding-right font-weight-600 black-text xs-no-padding" rv-show="data.check">{data.total}</td>
                            </tr>
                            <tr>
                                <th class="padding-two text-right no-padding-right text-uppercase font-weight-600 letter-spacing-2 text-small xs-no-padding">Shipping and Handling</th>
                                <td class="padding-two text-uppercase text-right no-padding-right font-weight-600 black-text text-small xs-no-padding">Free</td>
                            </tr>
                            <tr>
                                <td class="padding-one no-padding-right xs-no-padding" colspan="2">
                                    <hr>
                                </td>
                            </tr>
                            <tr class="total">
                                <th class="padding-two text-uppercase text-right no-padding-right font-weight-600 text-large xs-no-padding">Order Total</th>
                                <td class="padding-two text-uppercase text-right no-padding-right font-weight-600 black-text text-large no-letter-spacing xs-no-padding" rv-show="data.check">{data.total}</td>
                            </tr>
                            <tr>
                                <td class="padding-one no-padding-right xs-no-padding" colspan="2">
                                    <hr class="no-margin-bottom">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="highlight-button-black-background btn no-margin pull-right checkout-btn" href="http://localhost:8088/shop-checkout.html">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
function total(obj){
    var tong=0;
   for(var i of obj)
   {
      tong=tong+parseInt(i.SubTotal);
   }
   return tong;
}
function arrdata() {
        var tam = Lockr.get('shopcart');
        if (tam == undefined) {
            var obj={post:[],check:false,total:0};
            console.log('obj', JSON.stringify(obj));
            return obj;
        } else {
            var a = {};
            var tong = 0;
            var obj={post:[]};

            for (var i of Lockr.get('shopcart')) {
                a.SKU = i.SKU;
                a.Name = i.Name;
                a.Price=i.Price;
                a.Image = i.Image;
                a.Url = i.Url;
                a.Quantity = i.Quantity;
                a.SubTotal = i.SubTotal;
                tong = tong + parseInt(i.SubTotal);
                obj.post.push(a);
                a = {};
            }
            

            obj.total = tong;
            
            obj.check = true;

            return obj;
            
        }
    };
    var data=arrdata();
    //console.log('fa',JSON.stringify(data));
var controller = {
    removeCart: function(e, model) {
        var index = model.index;
        var product = model.data.post[index];
        
        data.post.splice(index, 1);
        if (data.length == 0) {
            emptyCart();
        } else {
            data.total=data.total-product.SubTotal;
            Lockr.set('shopcart', data.post);
            //Lockr.set('Quantity',product.Quantity);
        }
        //console.log('index',JSON.stringify(product));
        //console.log('lockr',JSON.stringify(data.post));
    },
    updateCart: function(e, model) {
        var index = model.index;
        var product = model.data.post[index];
        //console.log('daad',data.post[index].Quantity);
        data.post[index].Quantity = product.Quantity;
        var sub= product.Quantity * product.Price;
        data.post[index].SubTotal=sub; 
       console.log('data',JSON.stringify(data.post));
        var sum=0;
        sum=total(data.post);
        data.total=sum;
        Lockr.set('shopcart',data.post);
        },
    emptyCart: function() {
        data.check = false;
        data.post = [];
        data.total = 0;
        Lockr.flush();
    },
    editCart: function(e,model){
        var index = model.index;
         var product = model.data.post[index];
         //console.log(product.Quantity);
         //var arr={};
         //arr.Quantity=product.Quantity;
         //arr.SKU=product.SKU;
         Lockr.set('Quantity',product.Quantity);
         
         window.location=product.Url;
         
    }
};


rivets.binders.src = function(el, value) {
    el.src = value;
};
rivets.bind(document.querySelector('body'), {
    data: data,
    controller: controller
});
//console.log(data);
</script>
<!-- end content section -->
{{/content}} {{/extend}}
