
<!-- main menu -->
<div class="col-md-8 no-padding-right accordion-menu text-right">
    <div class="navbar-collapse collapse">
        <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
            <!-- menu item -->
            <li class="dropdown panel">
                <a href="#collapse1" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Home <i class="fa fa-angle-down"></i></a>
                <!-- sub menu -->
                <ul id="collapse1" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                    <!-- sub menu column  -->
                    <li class="mega-menu-column col-sm-3">
                        <!-- sub menu item  -->
                        <ul>
                            <li class="dropdown-header">Pre Made Homepage</li>
                            <li><a href="index.html">Home main</a></li>
                        </ul>
                        <!-- end sub menu item  -->
                    </li>
                    <!-- sub menu column end -->
                    <!-- sub menu column -->
                    <li class="mega-menu-column col-sm-3">
                        <!-- sub menu item  -->
                        <ul>
                            <li class="dropdown-header">Other</li>
                        </ul>
                        <!-- end sub menu item  -->
                    </li>
                    <!-- end sub menu column  -->
                    <!-- sub menu column  -->
                    <li class="mega-menu-column col-sm-3">
                        <!-- sub menu item  -->
                        <ul>
                            <li class="dropdown-header">Parallax Image / Typography</li>
                        </ul>
                        <!-- end sub menu item  -->
                        <!-- sub menu item  -->
                        <ul>
                            <li class="dropdown-header">Carousel slider</li>
                        </ul>
                        <!-- end sub menu item  -->
                    </li>
                    <!-- end sub menu column  -->
                    <!-- sub menu column  -->
                    <li class="mega-menu-column col-sm-3">
                        <!-- sub menu item  -->
                        <ul>
                            <li class="dropdown-header">Creative Intro Pages</li>
                        </ul>
                        <!-- end sub menu item  -->
                    </li>
                    <!-- end sub menu column  -->
                </ul>
                <!-- end sub menu -->
            </li>
            <!-- end menu item -->
            <!-- menu item -->
            <li class="dropdown panel">
                <a href="#collapse2" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">One Page <i class="fa fa-angle-down"></i></a>
                <!-- sub menu -->
                <ul id="collapse2" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                    <li class="mega-menu-column col-sm-3">
                        <!-- sub menu item  -->
                        <ul>
                            <li class="dropdown-header">Pre Made Homepage</li>
                            <li><a href="onepage-bootstrap-slider.html">Home main</a></li>
                        </ul>
                        <!-- end sub menu item  -->
                    </li>
                    <li class="mega-menu-column col-sm-3">
                        <!-- sub menu item  -->
                        <ul>
                            <li class="dropdown-header">Parallax Image / Typography</li>
                            <li><a href="onepage-parallax1.html">Parallax Image - option 1 </a></li>
                        </ul>
                        <!-- end sub menu item  -->
                    </li>
                    <li class="mega-menu-column col-sm-3">
                        <!-- sub menu item  -->
                        <ul>
                            <li class="dropdown-header">Carousel slider</li>
                            <li><a href="onepage-parallax1.html">Parallax Image - option 1 </a></li>
                        </ul>
                        <!-- end sub menu item  -->
                    </li>
                </ul>
                <!-- end sub menu -->
            </li>
            <!-- end menu item -->
        </ul>
    </div>
</div>
<!-- end main menu -->
